@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&display=swap');


* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(196, 233, 220);
  font-family: 'Montserrat Alternates', sans-serif;
}

.container {
  /* position: relative; */
  background-color: rgb(19, 88, 90);
  color: white;
  min-width: 400px;
  height: auto;
  padding: 15px;
  margin: 40px 0px;
  /* top: 50%; */
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container h2 {
  text-align: center;
  font-size: 30px;
  margin: 10px;
  font-family: 'Montserrat Alternates', sans-serif;
}

form {
  /* margin: 10px 0px; */
  margin-top: 40px;
}

.form-items {
  position: relative;
  margin: 25px auto;
  margin-bottom: 30px;
  display: block;
}

.form-items input {
  background-color: inherit;
  display: block;
  width: 90%;
  margin: 5px auto;
  border: none;
  border-bottom: 2px solid rgb(186, 255, 255);
  padding: 10px 0px;
  border-radius: 1px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.form-items label {
  position: absolute;
  font-family: in;
  top: 5px;
  left: 15px;
  color: rgb(224, 255, 253);
  font-family: 'Montserrat', sans-serif;
  /* transition: 0.3s cubic-bezier(0.58, -0.26, 0.89, 1.67); */
}
.form-items label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-items input:focus {
  outline: 0;
  border-bottom-color: lightblue;
  background-color: inherit;
}

.form-items input[type="text"]:focus + label span,
.form-items input[type="password"]:focus + label span,
.form-items input[type="text"]:valid + label span,
.form-items input[type="password"]:valid + label span {
  color: lightblue;
  transform: translateY(-25px);
}

form p {
  text-align: center;
}

form p a {
  text-decoration: none;
  color: burlywood;
  margin: 0px 3px;
  font-family: inherit;
}

.btn {
  width: 90%;
  margin: 10px 15px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Montserrat Alternates', sans-serif;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  background-color: lightseagreen;
  border: 0px;
  border-radius: 5px;

}

a .btn{
  text-decoration: none;
  color: #fff;
}

.btn:focus{
  transform: scale(0.98);
  outline: none;
  background-color: rgb(47, 209, 201);
}
